*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "arial", sans-serif;
  font-weight: 400;
  letter-spacing: 0.06em;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  padding: 15px 45px;
  font-family: "georgia";
  border-radius: 100px;
  background-color: #f1cdb3;
  border: 2px solid #f1cdb3;
  font-size: 17px;
  line-height: 22px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

/* SITE-HEADER */

.site-header-container {
  background-color: #fff;
}

.site-logo-links-wrapper {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo-box {
  color: #545454;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-logo {
  margin-bottom: 10px;
  font-family: "georgia";
  font-size: 32px;
  line-height: 110%;
  color: #545454;
}

.site-logo:hover {
  opacity: 0.6;
}

.site-logo-text {
  margin: 0;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;

}

.sitenav-links {
  display: flex;
  align-items: center;
}

.site-link {
  font-size: 15px;
  line-height: 24px;
  color: #545454;
}

.site-link:not(:last-child) {
  margin-right: 35px;
}

.site-link:hover {
  color: #292929;
  border-bottom: 2px solid #f1cdb3;
}

.site-hero {
  display: flex;
  align-items: center;
  font-family: "georgia";

}

.site-hero-info {}

.site-hero-title {
  margin-top: 0;
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 44px;
  line-height: 57px;
  color: #fff;
  width: 100%;
  max-width: 310px;
}

.site-hero-text {
  margin-top: 0;
  margin-bottom: 42px;
  font-family: "arial";
  font-size: 15px;
  line-height: 24px;
  color: #cdcdcd;

}

.site-hero-button:hover {
  background-color: #fff;
}

/* ARTICLES */

.articles {
  background-color: #f6f6f6;
}

.articles-wrapper {
  padding: 80px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #545454;
}

.articles-wrapper-heading {
  margin-top: 0;
  margin-bottom: 45px;
  width: 100%;
  max-width: 400px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
}

.articles-pets-img-card-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -40px;
  margin-bottom: 45px;
}

.articles-pets-img-card {
  width: 100%;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  border-radius: 9px;
  margin-bottom: 30px;

}
.articles-pets-img-card img, h3, a{
  margin-top: 0;
  margin-bottom: 30px;
}

.articles-pets-img-card:not(:last-of-type) {
  margin-right: 40px;

}

.articles-pets-img-card-icon {

 }

.articles-pets-img-card-title {
  margin-top: 0;

  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.articles-pets-img-card-link {
  color: #292929;
  background-color: #fff;
}

.articles-pets-img-card-link:hover{
  background-color: #f1cdb3;
}

/* BUTTON-PAGINATOR */

.button-paginator-box {
  display: flex;
  align-items: center;
}
.button-paginator {
  display: block;
  border: none;
  border-radius: 70%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button-paginator:not(:last-of-type){
  margin-right: 20px;
}

.button-paginator:hover{
  transform: scale(1.1);
}


/* SITE-FOOTER */

.site-footer {
  background: url(../img/footer-puppy.png) center no-repeat, url(../img/footer-background.png) center no-repeat;
  background-size: auto, 100%;
  background-position: right 25px bottom, center;
  font-family: "georgia";
}

.site-footer-wrapper {
  padding: 60px 0;
}

.site-footer-info-wrapper {
  display: flex;
}

.site-footer-questions-box {
  display: flex;
  flex-direction: column;
}

.site-footer-heading {
  max-width: 278px;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #fff;
  margin-top: 0;

}

.site-footer-questions-box-heading {
  margin-bottom: 40px;
}

.site-footer-text {
  padding: 5px 0 5px 60px;
  max-width: 310px;
  font-size: 20px;
  line-height: 23px;
  color: #f1cdb3;
}

.site-footer-questions-box-email {
  background: url(../img/icon-email.svg) center no-repeat;
  background-size: 40px 32px;
  background-position: left center;
  margin-bottom: 40px;
}


.site-footer-questions-box-phone {
  background: url(../img/icon-phone.svg) center no-repeat;
  background-position: left center;
  margin-bottom: 0;
}

.site-footer-adress-box {
  margin-left: 160px;
  display: flex;
  flex-direction: column;
}

.site-footer-adress-box-heading {
  margin-bottom: 32px;
}

.site-footer-questions-box-adress {
  background: url(../img/icon-marker.svg) center no-repeat;
  background-position: left center;
  padding-left: 42px;
  margin-bottom: 32px;
}

.site-footer-questions-box-adress:last-child {
  margin-bottom: 0;
}

.site-footer a:hover{
  opacity: 0.8;
}