*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "arial", sans-serif;
  font-weight: 400;
  letter-spacing: 0.06em;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  padding: 15px 45px;
  font-family: "georgia";
  border-radius: 100px;
  background-color: #f1cdb3;
  border: 3px solid #f1cdb3;
  font-size: 17px;
  line-height: 22px;
  color: #292929;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.main-content {
  flex-grow: 1;
}

/* SITE-HEADER */


.site-header-container {
  background: url(../img/start-screen-background.png) center no-repeat;
  background-size: 100%;
}

.site-logo-links-wrapper {
  padding-top: 60px;
  padding-bottom: 77px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-logo {
  margin-bottom: 10px;
  font-family: "georgia";
  font-size: 32px;
  line-height: 110%;
  color: #f1cdb3;
}

.site-logo:hover {
  opacity: 0.6;
}

.site-logo-text {
  margin: 0;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #fff;
}

.sitenav-links {
  display: flex;
  align-items: center;
}

.site-link {
  font-size: 15px;
  line-height: 24px;
  color: #fafafa;
}

.site-link:not(:last-child) {
  margin-right: 35px;
}

.site-link:hover {
  color: #f1cdb3;
  border-bottom: 2px solid #f1cdb3;
}

.site-hero {
  display: flex;
  align-items: center;
  font-family: "georgia";

}

.site-hero-info {}

.site-hero-title {
  margin-top: 0;
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 44px;
  line-height: 57px;
  color: #fff;
  width: 100%;
  max-width: 310px;
}

.site-hero-text {
  margin-top: 0;
  margin-bottom: 42px;
  font-family: "arial";
  font-size: 15px;
  line-height: 24px;
  color: #cdcdcd;

}

.site-hero-button:hover {
  background-color: #fff;
}


/* SITE-ABOUT */

.site-about {
  background-color: #fff;
}

.site-about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0 100px;
}

.site-about-info-box {
  margin-left: 120px;
  width: 100%;
  max-width: 430px;
}

.site-about-info-heading {
  margin: 0;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #545454;
  max-width: 370px;
}

.site-about-info-text {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 24px;
  color: #4c4c4c;
}


/* SITE-PRESENTATION */

.site-presentation {
  background-color: #f6f6f6;
}

.site-presentation-wrapper {
  padding: 80px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-presentation-heading {
  margin-top: 0;
  margin-bottom: 60px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #545454;

}

.site-presentation-card-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.site-presentation-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 270px;
  background-color: #fafafa;
  border-radius: 9px;
}

.site-presentation-card:not(:last-of-type) {
  margin-right: 90px;
}

.pet-title {
  margin: 30px 0px 0px;
  font-family: "Georgia";
  font-size: 20px;
  line-height: 23px;
}

.site-presentation-card-link {
  margin: 30px;
  background-color: #fafafa;
}

.site-presentation-card-link:hover {
  background-color: #f1cdb3;
}

.site-presentation-link:hover{
background-color: #fff;
}


/* ARROWS */
.arrow-button {
  border: 0;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.arrow-button:hover{
  transform: scale(1.1);
}

.arrow-left {
  margin-right: 53px;
}

.arrow-right {
  margin-left: 53px;
}


/* SITE-HELP-US-SECTION */


.site-help-us-section {
  background-color: #fff;

}

.site-help-us-section-global-wrapper {
  padding: 80px 0 45px;
  color: #545454;
}

.site-help-us-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site-help-us-section-heading {
  margin-top: 0;
  margin-bottom: 60px;
  width: 100%;
  max-width: 338px;
  text-align: center;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
}

.site-help-us-section-img-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  list-style: none;
}

.site-help-us-section-img-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 55px;
  flex-grow: 1;
}

.site-help-us-section-img-item:not(:last-of-type) {
  margin-right: 120px;
}

.site-help-us-section-img-item-text {
  margin-top: 30px;
  margin-bottom: 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}


/* SITE-DONATION */

.site-donation {
  background-color: #f6f6f6;
  color: #545454;
  font-family: 'Georgia';
}

.site-donation-global-wrapper {
  padding: 80px 0 100px;
}

.site-donation-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}


.site-donation-info-box {
  margin-left: 30px;
  width: 100%;
  max-width: 400px;
}

.site-donation-info-box h3,
p {
  margin-top: 0;
  margin-bottom: 20px;
}

.site-donation-info-box-heading {
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  max-width: 300px;
}

.site-donation-info-box-card-name {
  font-size: 15px;
  line-height: 17px;
}

.site-donation-info-box-card-number {
  background: url(../img/credit-card.svg) center no-repeat;
  background-position: left 15px center;
  width: 100%;
  max-width: 350px;
  padding: 10px 15px;
  background-color: #f1cdb3;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
}

.site-donation-info-box-card-text {
  font-family: 'Arial';
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
  margin-bottom: 0;
}



/* SITE-FOOTER */


.site-footer {
  background: url(../img/footer-puppy.png) center no-repeat, url(../img/footer-background.png) center no-repeat;
  background-size: auto, 100%;
  background-position: right 25px bottom, center;
  font-family: "georgia";
}

.site-footer-wrapper {
  padding: 60px 0;
}

.site-footer-info-wrapper {
  display: flex;
}

.site-footer-questions-box {
  display: flex;
  flex-direction: column;
}

.site-footer-heading {
  max-width: 278px;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #fff;
  margin-top: 0;

}

.site-footer-questions-box-heading {
  margin-bottom: 40px;
}

.site-footer-text {
  padding: 5px 0 5px 60px;
  max-width: 310px;
  font-size: 20px;
  line-height: 23px;
  color: #f1cdb3;
}

.site-footer-questions-box-email {
  background: url(../img/icon-email.svg) center no-repeat;
  background-size: 40px 32px;
  background-position: left center;
  margin-bottom: 40px;
}


.site-footer-questions-box-phone {
  background: url(../img/icon-phone.svg) center no-repeat;
  background-position: left center;
  margin-bottom: 0;
}

.site-footer-adress-box {
  margin-left: 160px;
  display: flex;
  flex-direction: column;
}

.site-footer-adress-box-heading {
  margin-bottom: 32px;
}

.site-footer-questions-box-adress {
  background: url(../img/icon-marker.svg) center no-repeat;
  background-position: left center;
  padding-left: 42px;
  margin-bottom: 32px;
}

.site-footer-questions-box-adress:last-child {
  margin-bottom: 0;
}

.site-footer a:hover{
  opacity: 0.8;
}